#Ipython Notebook Temp files
*copy*.ipynb
untitled*
untitled*.ipynb
*Copy*.ipynb
Untitled*
Untitled*.ipynb
#Ipython Notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# OSX Filesystem thing
.DS_Store
# Ignore Database files
*.db
*.sqlite

# Ignore data files
*.csv
*.json
*.pkl